@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;900&family=Sansita+Swashed:wght@900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	font-family: 'Noto Sans JP', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::after,*::before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root{
    --form-font-color:#84899C;
    --body-bg-color:#F4F3FB;
    --btn-color:#735FCD;
    --aside-color:#AA87E3;
    --icon-bg:#BFA1EA;
}
html{
    font-size: 16px;
}
.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg-color);
}
.container{
    max-width: 1200px;
    width: 100%;
    height: 700px;
    margin-bottom: 0 auto;
    padding: 2rem;
    background-color: white;
}
.flex{
    display: flex;
}
.justify-bwtween{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.flex-100{
    flex: 0 1 100%;
}
.flex-30{
    flex: 0 1 30%;
}
.flex-60{
    flex: 0 1 50%;
}
.aside{
    background:linear-gradient(135deg,#AA87E3 70%, #735FCD);
    padding: 2rem;
}
.aside-col{
    margin: 2rem 0;
    color: #F4F3FB;
}
.aside-col i{
    font-size: 1.5rem;
    color: var(--icon-bg);
}